# IDE
.idea/

# Database
*.sqlite

# Python
venv/
__pycache__/
*.pyc

# Sensitive
private_key.pem
auth_token.txt
.env
telegram_config.json

# Logs
*.log
server.log

# OS
.DS_Store
Thumbs.db